.intro{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introText{
  padding: 5%;
  font-size: 1.3rem;
}

.introTitle{
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 1px solid #333;
}

ul li+li{
  padding-top: 10px;
}