.App {
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height: 100%;
  user-select: none;
  touch-action: manipulation;
}

.AppTitleBanner {
  flex-direction: row;
  display: flex;
  width: 85%;
  max-width: 850px;
  align-items: baseline;
  padding-top: 0px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
  border-bottom: 1px solid #bbb;
  overflow: hidden;
  white-space: nowrap;
}

.AppTitle {
  font-size: 4em;
  font-weight: bold;
}

.AppVersion {
  margin-left: 5px;
  color: gray;
}

.SetttingButton {
  margin-left: auto;
  margin-right: 5%;
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 1rem;
  background-color: #fff;
  color: #666666;
  box-shadow: 0px 2px 2px #888;
  outline: none;
  box-sizing: border-box;
}

.submitPopupButton{
  border: none;
  margin: 0px;
  border-radius: 4px;
  padding: 10px;
  font-size: 1.3em;
  font-weight: bold;
  background-color: #0000ff;
  color: #fff;
  transition: 0.2s ease-out;
  touch-action: manipulation;
  width: 85%;
  max-width: 800px;
  margin-top: 5px;
  margin-bottom: 90px;
  box-shadow: 0px 2px 4px #888;
  outline: none;
}